/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable selector-list-comma-newline-after */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, acronym, address, big, button, cite, code,
del, dfn, em, img, input, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body, textarea, input {
  line-height: 1;
  font-family: BentonSans, sans-serif;
}

input, textarea, [contenteditable] {
  font-family: BentonSans, sans-serif;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.lead {
  background-color: #ff6e63;
  border-radius: 8px;
  color: white;
  font-weight: 400;
  margin-left: 8px;
  padding: 2px 8px;
}

.lead-list {
  background-color: #ff6e63;
  border-radius: 8px;
  padding: 2px 4px;
  color: white;
  font-size: 10px;
}

.Igw0E.IwRSH.eGOV_.ybXk5._4EzTm {
  align-items: center;
}

.lead-empty {
  border-radius: 8px;
  padding: 2px 4px;
  color: black;
  cursor: pointer;
  font-size: 10px;
  border: 1px dotted #c4c4c4;
  margin-left: 12px;
}

.Igw0E.IwRSH.eGOV_.ui_ht.n4cjz {
  display: flex;
  flex-direction: row;
  align-items: center;
}

button.saveLead {
  margin-top: 8px;
  background-color: #cceecc;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.ub-dspl_flex {
  flex-direction: row;
}

.ub-box-szg_border-box {
  display: block;
}